<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.xamarin.sfuandroid" android:versionCode="1" android:versionName="1.0.0.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17" />
	<application android:icon="@drawable/sfulogo" android:label="SFU">
		<receiver android:name=".LoginReceiver " android:enabled="true" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name=".TestService" />
		<activity android:name=".MainActivity" />
		<activity android:name=".ProtectedServicesActivity" />
		<activity android:name=".LoginActivity" />
		<activity android:name=".ProtectedServicesBrowserActivity" />
		<activity android:name=".ScheduleActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
		</activity>
		<activity android:name=".BooksActivity" />
		<activity android:name=".TransitActivity"></activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>